.sidebar ul li {
    padding: 12px 15px;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    border: 2px solid rgba(255, 255, 255, 0.1);  /* Added border to sidebar items */
}

.sidebar ul li:hover {
    background: #383b71;
    border-color: rgba(255, 255, 255, 0.2);  /* Brighter border on hover */
    transform: scale(1.03); /* Increases size slightly */
}

.sidebar ul li.active {
    background-color: #383b71;
    border-color: rgba(255, 255, 255, 0.3);  /* Even brighter border for active item */
}

.sidebar-icon {
    margin-right: 10px;
    opacity: 0.8;
    font-size: 16px;
}